@import './../../sass/abstract/constants';
@import './../../sass/abstract/mixins';
@import './../../sass/abstract/placeholders';

.pagination__panel {
  width: 100%;
  margin-top: 2rem;
  @include flex($just: flex-end);
  .panel__buttons {
    width: 60%;
    @include flex($gap: 1rem);

    @media screen and (max-width: $content-width) {
      width: 100%;
    }
  }

  .button__number {
    height: 44px;
    width: 44px;
    @include flex();
    @include font($size: 2rem, $height: 3.4rem, $weight: 800);
    text-align: center;
    background: $background-color-dark;
    border-radius: 50%;
    color: #909397;
  }

  button {
    height: 44px;
    width: 44px;
    @include font($size: 2rem, $height: 3.4rem, $weight: 800);
    text-align: center;
    background: $background-color-dark;
    border-radius: 50%;
    color: #909397;
    cursor: pointer;
    transition: transform 0.1s linear;

    &:hover {
      box-shadow: inset 1px 1px gold;
      line-height: 4.6rem;
    }

    &:active {
      box-shadow: inset 2px 2px gold;
      line-height: 4.9rem;
    }

    &:disabled {
      background-color: #909397;
      color: $background-color-dark;
    }

    @media screen and (max-width: 767px) {
      top: 90%;
    }
  }
}
