@import './../../sass/abstract/mixins';
@import './../../sass/abstract/placeholders';
@import './../../sass/abstract/constants';

.product__details {
  .content__container {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
    @media screen and (max-width: 809px) {
      flex-direction: column;
    }
  }

  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 40px;
  background: #79727234;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  border: 3px solid $color-violet;

  .product__info {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
  }

  .product__name {
    @include font($size: 2.8rem, $height: 2.6rem, $weight: normal);
    @extend %font-prim;
    @include linkHover;
    text-align: center;
  }

  .product__description {
    @include font($size: 1.5rem, $height: 2.6rem, $weight: normal);
    text-align: justify;
    height: 110px;
    padding-right: 10px;
    overflow-y: scroll;
    @extend %custom-scroll;
    margin: 35px 0px;
    @media screen and (max-width: 809px) {
      margin: 25px 0px;
      min-width: 240px;
    }
  }

  .products__link {
    align-self: center;
    text-align: center;
    width: 150px;
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(93, 28, 199, 0.658) 60%);
    padding: 1rem 2.8rem 1rem 2.5rem;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 700);
    color: $color-text-light;
    border-radius: 1rem;
    border: none;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.4s;
    border: 2px dashed #ccc5cb;
    &:hover {
      transition: 0.4s;

      background-color: $color-text-light;
      color: rgb(4, 4, 38);
    }

    &:active {
      background-color: #87dbd0;
    }
  }
  .product__price {
    margin-bottom: 50px;
    @media screen and (max-width: 809px) {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  p[keyf] {
    text-decoration: line-through;
    color: $color-text-dark;
  }

  p[keyd] {
    @include linkHover;
  }
}
