@import './../../sass/abstract/constants';

.header__burger {
  display: none;
}

@media screen and (width < 767px) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 11;
    margin-right: 10px;
    cursor: pointer;

    img {
      filter: drop-shadow(0 0 0.75rem rgb(209, 199, 201));
    }

    img:hover {
      filter: drop-shadow(16px 16px 20px red) invert(85%);
    }
  }

  @media screen and (width < 511px) {
    .header__burger {
      img {
        margin-top: 25px;
      }
    }
  }
}

@media screen and (width < 767px) {
  .header__nav {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -100%;
    width: 210px;
    height: 100%;
    padding: 60px 25px;
    background: $background-color-dark;
    transition: right 0.7s ease;

    &::after {
      position: absolute;
      z-index: 5;
      bottom: 20px;
      content: url('./../../assets/icons/cat-icon.png');
      filter: drop-shadow(0 0 0.75rem rgb(212, 208, 209));
    }
  }

  .nav__list {
    z-index: 12;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 100%;
    margin-top: 50px;
  }

  .nav__link {
    font-weight: 800;
  }

  .nav__list > li:hover .catalog__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    position: static;
  }

  .catalog__sub-list {
    background: none;
    position: absolute;
    left: 0;
    transition: all 2s ease;
  }

  #register {
    border: none;
  }

  .header__nav.active {
    right: 0;
  }
}
