@import './../../../sass/abstract/mixins';
@import './../../../sass/abstract/placeholders';
@import './../../../sass/abstract/constants';

.filter__panel {
  @include flex(row, $wrap: wrap, $gap: 1rem);
}

.panel__content {
  width: 100%;
  @include flex(row, center, flex-start, 5px, wrap);
  @media screen and (max-width: 400px) {
    justify-content: center;
  }
}

.legend_colors,
.legend_types {
  @include font($size: 2rem, $height: 2.6rem, $weight: 900);
  margin: 1.5rem 0rem;
}

.filter {
  width: 85px;
  border: 1px solid rgba(110, 106, 106, 0.733);
  padding: 3px;
  border-radius: 10px;
  background: rgba(110, 106, 106, 0.274);
  @include flex(row, center, space-between, nowrap);

  .filter_input {
    width: 3rem;
  }
  .filter_label{
    color: rgba(31, 215, 232, 0.873);
    font-size: smaller;
    order: -1;
    width: 100%;
    text-align: left;
  }
}

.filter__button {
  width: 40%;
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
  @extend %font-add;
  text-transform: uppercase;
  outline: none;
  color: $color-link;
  width: 120px;
  cursor: pointer;
  text-align: center;

  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  padding: 1rem 2.8rem 1rem 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
  border: none;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
  @media screen and (max-width: 400px) {
    padding: 10px;
  }

  &:hover {
    transition: 0.4s;
    border: 2px dashed #00bfa6;
    background-color: $color-text-light;
    color: rgb(4, 4, 38);
  }

  &:active {
    background-color: #87dbd0;
  }
}

div.filter__button:last-child {
  grid-area: reset;
  color: $color-text-light;
  background: #504e4e;
}
