@import './../../sass/abstract/constants';

.page__catalog {
  display: flex;
  flex-direction: column;
}

.products__filters {
  width: 30%;
  min-width: 290px;
  height: 100%;
  max-height: 830px;
  padding: 25px 10px;
  background: #79727234;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  border: 3px solid #7752be;
  @media screen and (max-width: $content-width) {
    width: 100%;
  }
  @media screen and (max-width: 400px) {
    width: 300px;
    padding: 25px 5px;
  }
}
.products__list_all {
  flex: 0 1 80%;
}
