.logo {
  filter: drop-shadow(16px 16px 20px red) invert(85%);
  width: 70%;
}

.logo:hover {
  filter: drop-shadow(0 0 0.75rem rgb(143, 194, 48));
}

.nav__link {
  img {
    width: 37%;
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
  }
}