@import './../../sass//abstract/constants';
@import './../../sass//abstract/mixins';
@import './../../sass//abstract/placeholders';

.header__nav {
  padding: 0 15px;
}
.nav__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 25px;
}

.nav__link {
  @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
  @extend %font-add;
  text-transform: uppercase;
  outline: none;
  color: $color-link;

  &:hover {
    border-bottom: 2px solid $color-link;
  }
}
#login {
  background: rgb(2, 29, 78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  padding: 1rem 2.8rem 1rem 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;

  &:hover {
    transition: 0.4s;
    border: 2px dashed #00bfa6;
    background-color: #fff;
    color: rgb(4, 4, 38);
  }
  &:active {
    background-color: #87dbd0;
  }
  &:after {
    content: url('./../../assets/icons/sphere.png');
    color: $color-light;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    border-bottom: none;
  }
}
#register {
  padding: 1rem 2.8rem 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  background-color: rgba(14, 14, 26, 0);
  font-weight: 700;
  transition: 1.2s;
  border-bottom: 2px solid $color-link;
  border-radius: 10px;

  &:active {
    scale: 0.92;
  }
  &:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
    border-bottom: none;
  }
  &:hover:after {
    content: url('./../../assets/icons/scull.png');
    color: $color-light;
    position: absolute;
    margin-top: 5px;
    margin-left: 3px;
    border-bottom: none;
  }
}
