$color-link: #c4cfde;
$color-link-dark: rgb(37, 36, 36);
$color-text-light: #ffffff;
$color-text-dark: gray;

$color-footer-btn: #ffffff80;
$background-color: #363636;
$background-color-dark: #181717;

$color-violet: #7752be;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
