@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

%transition {
  transition: all 0.3s ease-out;
}

%font-prim {
  font-family: 'Open Sans', Verdana, sans-serif;
}

%font-add {
  font-family: 'Montserrat', sans-serif;
}

%custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-violet;
    border-radius: 10px;
  }
}
