html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;

  @include flex(column, center, center);
  @extend %font-add;
  @include font(2rem, 160%, normal);

  color: $color-text-light;
  background-color: $background-color;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  @include flex(column, stretch, space-between);
}

[class*='__container'] {
  max-width: 1440px;
  margin: 0 auto;
}

.opacity {
  position: fixed;
  z-index: 9;
  top: 0;
  right: -100%;
  background: $background-opacity;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: right 0.5s ease-in-out;
}

.opacity.active {
  right: 0;
}