@import './productCard.scss';
@import './../../sass/abstract/mixins';
@import './../../sass/abstract/placeholders';
@import './../../sass/abstract/constants';
.page__products {
  width: 100%;
  .content__container {
    @include flex(column, center, center, 2rem, nowrap);
    margin: 40px auto 40px;
  }
}

.products__list {
  width: 100%;
  @include flex(row, center, center, 2rem, wrap);
}

.image__popup{
  width: 600px;
  height: 500px;
  padding: 15px;
 
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 15;
  background: rgba(121, 114, 114, 0.76);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    border: 3px solid #7752be;
}
.image__popup-close{
  width: 30px;
  height: 30px;
  text-align: center;
  color: $color-link-dark;
  font-weight: 900 ;
  font-size: 2.5rem;
  cursor: pointer;
}