@import './sass/abstract/constants';
@import './sass/abstract/placeholders';
@import './sass/abstract/mixins';

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @extend %font-add;

  @include font($size: 2rem, $height: 160%, $weight: normal);

  color: $color-text-light;
  background-color: $background-color;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

[class*='__container'] {
  max-width: 1440px;
  margin: 0 auto;
}

.opacity {
  position: fixed;
  z-index: 9;
  top: 0;
  right: -100%;
  background: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: right 0.5s ease-in-out;
}
.opacity.active {
  right: 0;
}
