.page__about-us, .about-us__block{
  width: 100%;
  margin: 0 auto;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tabLink {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  &:hover{
    background-color: #ddd;
 
  }
  &:active{
    background: #00000044;
  }
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; 
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
