.content__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 70px;
  margin: 60px auto;
  padding: 0 15px;
}

@media (max-width: 510px) {
  .content__container {
    padding: 30px 10px;
  }
}
