.content__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 120px;
  margin: 80px auto 120px;
  padding: 0 15px;

  @media screen and (max-width: 767px) {
    margin: 40px auto 60px;
    padding: 0px 10px;
    gap: 60px;
  }
}
